{% extends 'base.html' %}
{% load static %}

{% block title %}Popular Blogs — TechLife BD{% endblock title %}

{% block meta_description %}Discover the most read and popular technology articles on TechLife BD — Bangladesh's leading tech blog.{% endblock meta_description %}

{% block og_title %}Popular Blogs | TechLife BD{% endblock og_title %}
{% block og_description %}Discover the most popular technology articles on TechLife BD.{% endblock og_description %}

{% block canonical_url %}https://techlife.com.bd/popular-blogs/{% endblock %}

{% block content %}
{% include "components/popular/popular_post_partial.html" %}
{% endblock content %}