{% extends 'base.html' %} {% load static %}

{% block title %}TechLife BD – Smart Technology, ICT News &amp; Digital Insights for Bangladesh{% endblock title %}

{% block meta_description %}TechLife BD is a leading technology platform in Bangladesh providing the latest ICT news, tech tips, tutorials, digital solutions, gadget updates, freelancing guides, and online earning strategies.{% endblock meta_description %}

{% block og_title %}TechLife BD – Smart Technology, ICT News &amp; Digital Insights for Bangladesh{% endblock og_title %}
{% block og_description %}TechLife BD is a leading technology platform in Bangladesh providing the latest ICT news, tech tips, tutorials, digital solutions, gadget updates, freelancing guides, and online earning strategies.{% endblock og_description %}
{% block og_image %}{% static 'images/home_og_image.png' %}{% endblock og_image %}

{% block twitter_title %}Home | TechLife BD{% endblock twitter_title %}
{% block twitter_description %}Welcome to TechLife BD! Explore the latest tech news, reviews, and IT updates from Bangladesh.{% endblock twitter_description %}
{% block twitter_image %}{% static 'images/home_twitter_image.png' %}{% endblock twitter_image %}

{% block content %}
{% include 'components/home/partial_homepage.html' %}
{% endblock content %}